# Global ownership: Jorge and Leslie own the entire project
*                         @jorduque16 @LeslieMayer01

# Documentation
/docs/                    @jorduque16 @LeslieMayer01

# Scripts for electronic index generation
/src/organizer/step1_delete_empty_folders.py                @jorduque16 @LeslieMayer01
/src/organizer/step2_delete_index_files.py                  @jorduque16 @LeslieMayer01
/src/organizer/step3_remove_desktop_ini.py                  @jorduque16 @LeslieMayer01
/src/organizer/step4_format_folders.py                      @jorduque16 @LeslieMayer01
/src/organizer/step5_create_C0_folders.py                   @jorduque16 @LeslieMayer01
/src/organizer/step6_organizate_files.py                    @jorduque16 @LeslieMayer01
/src/organizer/step7_subfolder_organization.py              @jorduque16 @LeslieMayer01
/src/organizer/step8_create_electronic_index.py             @jorduque16 @LeslieMayer01
/src/organizer/step9_check_folders.py                       @jorduque16 @LeslieMayer01

# Unit tests
/tests/                   @jorduque16

# Configuration and project metadata
Makefile                 @jorduque16
requirements.txt         @jorduque16 @LeslieMayer01
.pre-commit-config.yaml  @jorduque16
